body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: rgb(255, 255, 255, 0.5);
    margin: auto;
    height: 2457px;
    width: 1000px;
}

.navbar {
    background: rgb(0, 212, 255);
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(2, 0, 36, 1) 100%);
    padding: 15px;
    box-shadow: 4px 8px 10px rgba(2, 0, 36, 1);
    position: sticky;
    top: 0;
    left: 1;
    z-index: 1;
    margin-bottom: 10px;
}

.top-logo {
    box-shadow: 4px 8px 10px rgba(2, 0, 36, 1);
    margin-right: 5px;
}

ul {
    list-style-type: none;  
    position: relative;
    float: right;
}

ul li {
    border: 3px rgb(12, 12, 12);
    display: inline-block;
    background: transparent url("../img/galaxy4.jpg") no-repeat center;
    text-align: center;
    height: 40px;
    width: 150px;
    margin-top: 20px;
    box-shadow: 4px 8px 10px rgba(0, 212, 255, 1);
    padding: 7px;
    margin: 5px;
}

ul li a {
    color: rgb(12, 12, 12);
    text-decoration: none;
    font-weight: bolder;
}

ul li:hover {
    background: transparent url("../img/galaxy8.jpg") no-repeat right;
    box-shadow: 4px 8px 10px rgb(255, 255, 255);
}

ul li a:hover {
    color: rgb(255, 255, 255);
}

.jumbotron {
    background: transparent url("../img/galaxy7.jpg") repeat left;
    height: 400px;
    margin-bottom: 10px;
}

h1 {
    font-weight: bolder;
    text-align: center;
    font-size: 32px;
}

.speakers {
    text-align: left;
}

h4 {
    text-align: center;
}

p {
    font-size: 24px;
    text-align: center;
}

b {
    font-weight: bolder;
    font-size: larger;
}

.box {
    display: inline-block;
    margin-bottom: 200px;
    margin-left: 5px;
}

.container-fluid {
    display: inline-block;
}

.flip-box {
    background-color: transparent;
    width: 200px;
    height: 150px;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 200px;
    height: 150px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 230px;
    height: 150px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
}

.flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateX(180deg);
}

.photo {
    box-shadow: 4px 8px 10px rgba(2, 0, 36, 1);
    margin-bottom: 10px;
    width: 230px;
    height: 150px;
}

.space {
    margin-top: 10px;
}

.para {
    text-align: left;
}

footer {
    background: rgb(0, 212, 255);
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(2, 0, 36, 1) 100%);
    padding: 10px;
    box-shadow: 4px 8px 10px rgba(2, 0, 36, 1);
    height: 80px;
}

.bottom {
    color: rgb(255, 255, 255);
    float: left;
    margin-top: 15px;
}

.fa-meteor {
    color: rgb(255, 255, 255);
}

.fa-facebook {
    color: rgb(255, 255, 255);
}

.fa-instagram {
    color: rgb(255, 255, 255);
}

.fa-youtube {
    color: rgb(255, 255, 255);
}

.logo {
    box-shadow: 4px 8px 10px rgb(0, 212, 255, 1);
    height: 60px;
    width: 100px;
    float: right;
}

.copy {
    float: right;
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-right: 10px;
    margin-top: 15px;
}